body{
  margin: 0% 0% 0% 0%;
  background-color: rgb(255,231,212);
}

:root {
  --h1-font-size: 8rem;
  --h2-font-size: 4.5rem;
  --h3-font-size: 3rem;
  --h4-font-size: 2.5rem;
  --h5-font-size: 2.5rem;
  --p-font-size: 2rem;
  --navbar-font-size: 2rem;
}

h1 {
  font-size: var(--h1-font-size);
  font-family: 'Josefin Sans Bold';
  margin: 0;
  padding: 0;
}

h2 {
  font-size: var(--h2-font-size);
  font-family: 'Josefin Sans SemiBold';
  margin: 0;
  padding: 0;
}

h3 {
  font-size: var(--h3-font-size);
  font-family: 'Josefin Sans Regular';
  margin: 0;
  padding: 0;
}

h4 {
  font-size: var(--h4-font-size);
  font-family: 'Josefin Sans Regular';
  margin: 0;
  padding: 0;
}

h5 {
  font-size: var(--h5-font-size);
  font-family: 'Josefin Slab SemiBold';
}

p {
  font-size: var(--p-font-size);
  font-family: 'Josefin Slab SemiBold';
  line-height: 1.1;
}

a {
  font-size: var(--navbar-font-size);
  font-family: 'Josefin Sans Bold';
}

/* Media queries to adjust font sizes based on screen width */
@media screen and (max-width: 1450px) {
  :root {
    --h1-font-size: 7rem;
    --h2-font-size: 4rem;
    --h3-font-size: 2.75rem;
    --h4-font-size: 2.25rem;
    --h5-font-size: 1.625rem;
    --p-font-size: 1.5rem;
    --navbar-font-size: 1.5rem;
  }
}

@media screen and (max-width: 1280px) {
  :root {
    --h1-font-size: 6rem;
    --h2-font-size: 3.5rem;
    --h3-font-size: 2.5rem;
    --h4-font-size: 2rem;
    --h5-font-size: 1.625rem;
    --p-font-size: 1.25rem;
    --navbar-font-size: 1.2rem;
  }
}

@media screen and (max-width: 1065px) {
  :root {
    --h1-font-size: 5rem;
    --h2-font-size: 3rem;
    --h3-font-size: 2.25rem;
    --h4-font-size: 1.8rem;
    --h5-font-size: 1.625rem;
    --p-font-size: 1.25rem;
    --navbar-font-size: 1.2rem;
  }
}

/* @media screen and (max-width: 991px) {
  :root {
    --h1-font-size: 5rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 2.125rem;
    --h4-font-size: 1.6rem;
    --h5-font-size: 1.625rem;
    --p-font-size: 1.25rem;
    --navbar-font-size: 1rem;
  }
} */

@media screen and (max-width: 768px) {
  :root {
    --h1-font-size: 4rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 2.125rem;
    --h4-font-size: 1.6rem;
    --h5-font-size: 1.625rem;
    --p-font-size: 1.25rem;
    --navbar-font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --h1-font-size: 3rem;
    --h2-font-size: 2.25rem;
    --h3-font-size: 2rem;
    --h4-font-size: 1.25rem;
    --h5-font-size: 1.125rem;
    --p-font-size: 1.25rem;
    --navbar-font-size: 1rem;
  }
}