.landing-container{
    min-height: 100vh;
    height: auto;
    justify-content: center;
    align-items: center;
    color: rgb(140, 59, 75);
}

.landing-content{
    max-width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
}

.landing-text{
    margin-right: 6vw;
}

.my-picture img{
    margin-left: 6vw;
    max-width: 28rem;
    border-radius: 50%;
    vertical-align: middle;
    box-shadow: 3px 2px 15px rgba(0, 0, 0, 0.25)
}

.landing-bottom{
    margin-top: 6vw;
    text-align: center;
    justify-content: end;
}

.down-arrows {
    padding: 0.5rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 1450px) {
    .my-picture img{
        max-width: 25rem;
    }

    .landing-bottom {
        margin-top: 6vh;
    }
}

@media screen and (max-width: 1280px) {
    .my-picture img{
        max-width: 22rem;
    }

    .landing-bottom {
        margin-top: 4vh;
    }
}

@media screen and (max-width: 1065px) {
    .my-picture img{
        max-width: 18rem;
    }

    .landing-bottom {
        margin-top: 6vh;
    }
}


@media screen and (max-width: 991px) {
    .landing-content {
        flex-direction: column;
        align-items: center;
        padding-top: 12vh;
    }

    .landing-text {
        text-align: center;
        margin-right: 0;
    }

    .my-picture img {
        display: block;
        margin: 1rem auto;
        max-width: 16rem;
    }

    .landing-bottom {
        margin-top: 2vh;
    }
}

@media screen and (max-width: 400px) {
    .landing-content {
        padding-top: 6vh;
    }
}